body {
    text-align: center;

}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
    color: red;
    text-shadow: 2px 2px black;
}

#line1 {
    margin-bottom: -60px;
    margin-top: 0;
}

h2 {
    margin-top: 60px;
}

#incorrect-letters {
    border: 1px solid black;
    width: 175px;
    height: 25px;
    text-align: center;
}

#game-area {
    visibility: hidden;
}

table {
    margin: 30px auto;
    padding: 20px;
}

.letter-space {
    width: 30px;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.spacer {
    width: 15px;
}