body {
    text-align: center;
}

h2 {
    margin-top: 60px;
}

#incorrect-letters {
    border: 1px solid black;
    text-align: center;
}

#game-area {
    visibility: hidden;
}

table {
    margin: 30px auto;
    padding: 20px;
}

.letter-space {
    width: 30px;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.spacer {
    width: 15px;
}